/*SHIMS*/
.margin10{margin:10px;}
.margin15{margin:15px;}
.margin20{margin:20px;}

.push10{margin-bottom:10px;}
.push15{margin-bottom:15px;}
.push20{margin-bottom:20px;}

.add10{margin-top:10px;}
.add15{margin-top:15px;}
.add20{margin-top:20px;}